* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    justify-items: center;
    background-color: #313131;
}

.content {
    width: 70vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
    justify-items: center;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

.content h1 {
    font-weight: 300;
    font-style: italic;
    
}